# Liabrary

In [18]:
import pandas as pd
import numpy as np

#Statistic
from scipy import stats

#Visualization
import plotly.express as px
import matplotlib.pyplot as plt

#Machine Learning
import statsmodels.api as sm

# Dataframe

In [4]:
df=pd.read_csv("C:\\Users\\Saravanan\\OneDrive\\Desktop\\Datasets_data\\Admissions Data.csv")

In [5]:
df

     Marks Admitted  Gender
0     1363       No    Male
1     1792      Yes  Female
2     1954      Yes  Female
3     1653       No    Male
4     1593       No    Male
..     ...      ...     ...
163   1722      Yes  Female
164   1750      Yes    Male
165   1555       No    Male
166   1524       No    Male
167   1461       No    Male

[168 rows x 3 columns]

# Observation

Depedent Column - Admitted
Independent Column - Marks,Gender
Continuous Column - Marks
Catagory Column - Admitted,Gender

# Supervised Classification

# Data Cleaning

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Marks     168 non-null    int64
 1   Admitted  168 non-null    object
 2   Gender    168 non-null    object
dtypes: int64(1), object(2)
memory usage: 4.1+ KB

In [7]:
df.isnull().sum()

Marks       0
Admitted    0
Gender      0
dtype: int64

Continuous column - Central Limit Theorem, 1-Tailed Test (one-sample t-test)

Continuous vs. Continuous - Correlation, 2-Tailed Test (two-sample t-test)

Continuous vs. Categorical - ANOVA (Analysis of Variance)

Categorical vs. Categorical - Chi-Square Test

# Hypothesis Tesing

1.Central Limit Theoram :

Population Mean:  1695.2738095238096 sample Mean 1693.408

2. 1 Tailed Test

H0 accepted 9 times , H0 rejected 16 times
H0 is rejected, Ha is accepted, There is a significant effect

# Central Limit Theoram

In [8]:
pop=df.Marks.values
pop_mean=pop.mean()
sample_size=30
sample_mean=[]
for i in range(25):
    sample=np.random.choice(pop,sample_size)
    sample_mean.append(sample.mean())
np.mean(sample_mean)
print("Population Mean: ",pop_mean,"sample Mean",np.mean(sample_mean))

Population Mean:  1695.2738095238096 sample Mean 1684.7079999999999

# 1 Tailed Test

In [9]:
H0_accepted = 0
H0_rejected = 0
for i in range(25):
  sample = df.Marks.sample(frac=0.05)
  t_test, p_value = stats.ttest_1samp(sample,df.Marks.mean())
  if p_value > 0.5:
    H0_accepted += 1
  else:
    H0_rejected += 1

print(f"H0 accepted {H0_accepted} times , H0 rejected {H0_rejected} times")
if H0_accepted>H0_rejected:
  print("H0 accepted,Ha rejected, no significant effect")
else:
  print("H0 is rejected, Ha is accepted, There is a significant effect")

H0 accepted 15 times , H0 rejected 10 times
H0 accepted,Ha rejected, no significant effect

# Chi Square Test

In [10]:
data=pd.crosstab(df.Admitted,df.Gender)
observed_values=data.values
chi2_stat,p_value,_,_=stats.chi2_contingency(observed_values)
if p_value > 0.05:
  print("H0 is accepted, There is no relationship between two columns we're comparing")
else:
  print("H0 is rejected, There is a relationship between two columns we're comparing")

H0 is rejected, There is a relationship between two columns we're comparing

# Anova

In [11]:
grp=df.Admitted.unique()
data={}
for i in grp:
    data[i]=df.Marks[df.Admitted==i]
f_value,p_value=stats.f_oneway(*[data[i] for i in grp])
if p_value > 0.05:
  print("H0 is accepted, There is a relationship between two columns we're comparing")
else:
  print("H0 is rejected, There is no relationship between two columns we're comparing")

H0 is rejected, There is no relationship between two columns we're comparing

In [12]:
grp=df.Gender.unique()
data={}
for i in grp:
    data[i]=df.Marks[df.Gender==i]
f_value,p_value=stats.f_oneway(*[data[i] for i in grp])
if p_value>0.05:
    print("H0 is accepted,There is a relationship between two columns we're comparing")
else:
    print("H0is rejected, There is no reletionship between two columns we're comparing")

H0is rejected, There is no reletionship between two columns we're comparing

# Data Visualization

In [13]:
import plotly.express as px
from plotly.offline import plot

fig = px.sunburst(df,path=['Gender', 'Admitted'],values='Marks')
plot(fig, include_plotlyjs='cdn', output_type='div')

'<div>                        <script type="text/javascript">window.PlotlyConfig = {MathJaxConfig: \'local\'};</script>\n        <script charset="utf-8" src="https://cdn.plot.ly/plotly-2.30.0.min.js"></script>                <div id="26950d1b-8a8b-45a6-96c0-f203b30fe640" class="plotly-graph-div" style="height:100%; width:100%;"></div>            <script type="text/javascript">                                    window.PLOTLYENV=window.PLOTLYENV || {};                                    if (document.getElementById("26950d1b-8a8b-45a6-96c0-f203b30fe640")) {                    Plotly.newPlot(                        "26950d1b-8a8b-45a6-96c0-f203b30fe640",                        [{"branchvalues":"total","domain":{"x":[0.0,1.0],"y":[0.0,1.0]},"hovertemplate":"labels=%{label}\\u003cbr\\u003eMarks=%{value}\\u003cbr\\u003eparent=%{parent}\\u003cbr\\u003eid=%{id}\\u003cextra\\u003e\\u003c\\u002fextra\\u003e","ids":["Female\\u002fNo","Male\\u002fNo","Female\\u002fYes","Male\\u002fYes","Female","Male"],"labels":["No","No","Yes","Yes","Female","Male"],"name":"","parents":["Female","Male","Female","Male","",""],"values":[22974,89900,115138,56794,138112,146694],"type":"sunburst"}],                        {"legend":{"tracegroupgap":0},"margin":{"t":60},"template":{"data":{"barpolar":[{"marker":{"line":{"color":"#E5ECF6","width":0.5},"pattern":{"fillmode":"overlay","size":10,"solidity":0.2}},"type":"barpolar"}],"bar":[{"error_x":{"color":"#2a3f5f"},"error_y":{"color":"#2a3f5f"},"marker":{"line":{"color":"#E5ECF6","width":0.5},"pattern":{"fillmode":"overlay","size":10,"solidity":0.2}},"type":"bar"}],"carpet":[{"aaxis":{"endlinecolor":"#2a3f5f","gridcolor":"white","linecolor":"white","minorgridcolor":"white","startlinecolor":"#2a3f5f"},"baxis":{"endlinecolor":"#2a3f5f","gridcolor":"white","linecolor":"white","minorgridcolor":"white","startlinecolor":"#2a3f5f"},"type":"carpet"}],"choropleth":[{"colorbar":{"outlinewidth":0,"ticks":""},"type":"choropleth"}],"contourcarpet":[{"colorbar":{"outlinewidth":0,"ticks":""},"type":"contourcarpet"}],"contour":[{"colorbar":{"outlinewidth":0,"ticks":""},"colorscale":[[0.0,"#0d0887"],[0.1111111111111111,"#46039f"],[0.2222222222222222,"#7201a8"],[0.3333333333333333,"#9c179e"],[0.4444444444444444,"#bd3786"],[0.5555555555555556,"#d8576b"],[0.6666666666666666,"#ed7953"],[0.7777777777777778,"#fb9f3a"],[0.8888888888888888,"#fdca26"],[1.0,"#f0f921"]],"type":"contour"}],"heatmapgl":[{"colorbar":{"outlinewidth":0,"ticks":""},"colorscale":[[0.0,"#0d0887"],[0.1111111111111111,"#46039f"],[0.2222222222222222,"#7201a8"],[0.3333333333333333,"#9c179e"],[0.4444444444444444,"#bd3786"],[0.5555555555555556,"#d8576b"],[0.6666666666666666,"#ed7953"],[0.7777777777777778,"#fb9f3a"],[0.8888888888888888,"#fdca26"],[1.0,"#f0f921"]],"type":"heatmapgl"}],"heatmap":[{"colorbar":{"outlinewidth":0,"ticks":""},"colorscale":[[0.0,"#0d0887"],[0.1111111111111111,"#46039f"],[0.2222222222222222,"#7201a8"],[0.3333333333333333,"#9c179e"],[0.4444444444444444,"#bd3786"],[0.5555555555555556,"#d8576b"],[0.6666666666666666,"#ed7953"],[0.7777777777777778,"#fb9f3a"],[0.8888888888888888,"#fdca26"],[1.0,"#f0f921"]],"type":"heatmap"}],"histogram2dcontour":[{"colorbar":{"outlinewidth":0,"ticks":""},"colorscale":[[0.0,"#0d0887"],[0.1111111111111111,"#46039f"],[0.2222222222222222,"#7201a8"],[0.3333333333333333,"#9c179e"],[0.4444444444444444,"#bd3786"],[0.5555555555555556,"#d8576b"],[0.6666666666666666,"#ed7953"],[0.7777777777777778,"#fb9f3a"],[0.8888888888888888,"#fdca26"],[1.0,"#f0f921"]],"type":"histogram2dcontour"}],"histogram2d":[{"colorbar":{"outlinewidth":0,"ticks":""},"colorscale":[[0.0,"#0d0887"],[0.1111111111111111,"#46039f"],[0.2222222222222222,"#7201a8"],[0.3333333333333333,"#9c179e"],[0.4444444444444444,"#bd3786"],[0.5555555555555556,"#d8576b"],[0.6666666666666666,"#ed7953"],[0.7777777777777778,"#fb9f3a"],[0.8888888888888888,"#fdca26"],[1.0,"#f0f921"]],"type":"histogram2d"}],"histogram":[{"marker":{"pattern":{"fillmode":"overlay","size":10,"solidity":0.2}},"type":"histogram"}],"mesh3d":[{"colorbar":{"outlinewidth":0,"ticks":""},"type":"mesh3d"}],"parcoords":[{"line":{"colorbar":{"outlinewidth":0,"ticks":""}},"type":"parcoords"}],"pie":[{"automargin":true,"type":"pie"}],"scatter3d":[{"line":{"colorbar":{"outlinewidth":0,"ticks":""}},"marker":{"colorbar":{"outlinewidth":0,"ticks":""}},"type":"scatter3d"}],"scattercarpet":[{"marker":{"colorbar":{"outlinewidth":0,"ticks":""}},"type":"scattercarpet"}],"scattergeo":[{"marker":{"colorbar":{"outlinewidth":0,"ticks":""}},"type":"scattergeo"}],"scattergl":[{"marker":{"colorbar":{"outlinewidth":0,"ticks":""}},"type":"scattergl"}],"scattermapbox":[{"marker":{"colorbar":{"outlinewidth":0,"ticks":""}},"type":"scattermapbox"}],"scatterpolargl":[{"marker":{"colorbar":{"outlinewidth":0,"ticks":""}},"type":"scatterpolargl"}],"scatterpolar":[{"marker":{"colorbar":{"outlinewidth":0,"ticks":""}},"type":"scatterpolar"}],"scatter":[{"fillpattern":{"fillmode":"overlay","size":10,"solidity":0.2},"type":"scatter"}],"scatterternary":[{"marker":{"colorbar":{"outlinewidth":0,"ticks":""}},"type":"scatterternary"}],"surface":[{"colorbar":{"outlinewidth":0,"ticks":""},"colorscale":[[0.0,"#0d0887"],[0.1111111111111111,"#46039f"],[0.2222222222222222,"#7201a8"],[0.3333333333333333,"#9c179e"],[0.4444444444444444,"#bd3786"],[0.5555555555555556,"#d8576b"],[0.6666666666666666,"#ed7953"],[0.7777777777777778,"#fb9f3a"],[0.8888888888888888,"#fdca26"],[1.0,"#f0f921"]],"type":"surface"}],"table":[{"cells":{"fill":{"color":"#EBF0F8"},"line":{"color":"white"}},"header":{"fill":{"color":"#C8D4E3"},"line":{"color":"white"}},"type":"table"}]},"layout":{"annotationdefaults":{"arrowcolor":"#2a3f5f","arrowhead":0,"arrowwidth":1},"autotypenumbers":"strict","coloraxis":{"colorbar":{"outlinewidth":0,"ticks":""}},"colorscale":{"diverging":[[0,"#8e0152"],[0.1,"#c51b7d"],[0.2,"#de77ae"],[0.3,"#f1b6da"],[0.4,"#fde0ef"],[0.5,"#f7f7f7"],[0.6,"#e6f5d0"],[0.7,"#b8e186"],[0.8,"#7fbc41"],[0.9,"#4d9221"],[1,"#276419"]],"sequential":[[0.0,"#0d0887"],[0.1111111111111111,"#46039f"],[0.2222222222222222,"#7201a8"],[0.3333333333333333,"#9c179e"],[0.4444444444444444,"#bd3786"],[0.5555555555555556,"#d8576b"],[0.6666666666666666,"#ed7953"],[0.7777777777777778,"#fb9f3a"],[0.8888888888888888,"#fdca26"],[1.0,"#f0f921"]],"sequentialminus":[[0.0,"#0d0887"],[0.1111111111111111,"#46039f"],[0.2222222222222222,"#7201a8"],[0.3333333333333333,"#9c179e"],[0.4444444444444444,"#bd3786"],[0.5555555555555556,"#d8576b"],[0.6666666666666666,"#ed7953"],[0.7777777777777778,"#fb9f3a"],[0.8888888888888888,"#fdca26"],[1.0,"#f0f921"]]},"colorway":["#636efa","#EF553B","#00cc96","#ab63fa","#FFA15A","#19d3f3","#FF6692","#B6E880","#FF97FF","#FECB52"],"font":{"color":"#2a3f5f"},"geo":{"bgcolor":"white","lakecolor":"white","landcolor":"#E5ECF6","showlakes":true,"showland":true,"subunitcolor":"white"},"hoverlabel":{"align":"left"},"hovermode":"closest","mapbox":{"style":"light"},"paper_bgcolor":"white","plot_bgcolor":"#E5ECF6","polar":{"angularaxis":{"gridcolor":"white","linecolor":"white","ticks":""},"bgcolor":"#E5ECF6","radialaxis":{"gridcolor":"white","linecolor":"white","ticks":""}},"scene":{"xaxis":{"backgroundcolor":"#E5ECF6","gridcolor":"white","gridwidth":2,"linecolor":"white","showbackground":true,"ticks":"","zerolinecolor":"white"},"yaxis":{"backgroundcolor":"#E5ECF6","gridcolor":"white","gridwidth":2,"linecolor":"white","showbackground":true,"ticks":"","zerolinecolor":"white"},"zaxis":{"backgroundcolor":"#E5ECF6","gridcolor":"white","gridwidth":2,"linecolor":"white","showbackground":true,"ticks":"","zerolinecolor":"white"}},"shapedefaults":{"line":{"color":"#2a3f5f"}},"ternary":{"aaxis":{"gridcolor":"white","linecolor":"white","ticks":""},"baxis":{"gridcolor":"white","linecolor":"white","ticks":""},"bgcolor":"#E5ECF6","caxis":{"gridcolor":"white","linecolor":"white","ticks":""}},"title":{"x":0.05},"xaxis":{"automargin":true,"gridcolor":"white","linecolor":"white","ticks":"","title":{"standoff":15},"zerolinecolor":"white","zerolinewidth":2},"yaxis":{"automargin":true,"gridcolor":"white","linecolor":"white","ticks":"","title":{"standoff":15},"zerolinecolor":"white","zerolinewidth":2}}}},                        {"responsive": true}                    )                };                            </script>        </div>'

# Pre Processing

In [14]:
df.Gender.unique()

array(['Male', 'Female'], dtype=object)

In [15]:
df["Admitted"]=df["Admitted"].replace({"Yes":1,"No":0})
df["Gender"]=df["Gender"].replace({"Male":17,"Female":18})
df

C:\Users\Saravanan\AppData\Local\Temp\ipykernel_1620\741520998.py:1: FutureWarning:

Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`

C:\Users\Saravanan\AppData\Local\Temp\ipykernel_1620\741520998.py:2: FutureWarning:

Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`

     Marks  Admitted  Gender
0     1363         0      17
1     1792         1      18
2     1954         1      18
3     1653         0      17
4     1593         0      17
..     ...       ...     ...
163   1722         1      18
164   1750         1      17
165   1555         0      17
166   1524         0      17
167   1461         0      17

[168 rows x 3 columns]

# Machine Learning

Supervised Classification - Logistic regression

In [16]:
df.head()

   Marks  Admitted  Gender
0   1363         0      17
1   1792         1      18
2   1954         1      18
3   1653         0      17
4   1593         0      17

In [19]:
y=df["Admitted"]
x1=df[["Marks","Gender"]]
x=sm.add_constant(x1)
result=sm.Logit(y,x).fit()
result.pred_table()

Optimization terminated successfully.
         Current function value: 0.120117
         Iterations 10

array([[69.,  5.],
       [ 4., 90.]])

In [20]:
cm_df=pd.DataFrame(result.pred_table())
cm=np.array(cm_df)
acc=(cm[0,0]+cm[1,1])/cm.sum()
print(acc*100)

94.64285714285714

In [21]:
cm_df=pd.DataFrame(result.pred_table())
cm_df.columns=["predicted 0","predicted 1"]
cm_df=cm_df.rename(index={0:"actual 0",1:"actual 1"})
cm_df

          predicted 0  predicted 1
actual 0         69.0          5.0
actual 1          4.0         90.0

In [23]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               Admitted   No. Observations:                  168
Model:                          Logit   Df Residuals:                      165
Method:                           MLE   Df Model:                            2
Date:                Sat, 20 Apr 2024   Pseudo R-squ.:                  0.8249
Time:                        13:14:08   Log-Likelihood:                -20.180
converged:                       True   LL-Null:                       -115.26
Covariance Type:            nonrobust   LLR p-value:                 5.118e-42
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const       -101.4120     23.736     -4.272      0.000    -147.934     -54.890
Marks          0.0406      0.010      4.129      0.000       0.021       0.060
Gender         1.9449      0.846      2.299      0.022       0.287       3.603
==============================================================================

Possibly complete quasi-separation: A fraction 0.27 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.
"""