In [1]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv("C:\\Users\\Saravanan\\OneDrive\\Desktop\\Datasets_data\\slr.csv")

In [5]:
df

    Exam   GPA
0   1714  2.40
1   1664  2.52
2   1760  2.54
3   1685  2.74
4   1693  2.83
..   ...   ...
79  1936  3.71
80  1810  3.71
81  1987  3.73
82  1962  3.76
83  2050  3.81

[84 rows x 2 columns]

# DataSet Observation

Dependent column - GPA

Independent column - Exam

Continuous column - Exam,GPA